/config.guess
/config.status
/config.sub
/config.log
/configure
/COPYING
/INSTALL
/install-sh
/missing
/autom4te.cache
/autom4te.cache
/config.status
/aclocal.m4
/depcomp
/aclocal.m4
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/autom4te.cache
